.heading-1 {
}
.contetn-secion {
}
.content-left {
  width: 300px;
  float: left;
}
.box1 {
  height: 200px;
  background-color: greenyellow;
}
.box2 {
}
.content-right {
}
.list-content {
  list-style: none;
}
